In [6]:
tuplee=(3,)
print(tuplee)

(3,)

In [12]:
tup=([1,2,3])
 
print(tup)

[1, 2, 3]

In [14]:
tu=(1,2,3,4,5)
tu=tu+(7,)
tu+=(12,)
print(tu)

(1, 2, 3, 4, 5, 7, 12)

In [9]:
n=int(input("Enter the number of employees"))
salaries=[]
for i in range(n):
    salary=float(input("Enter the salaries"))
    salaries.append(salary)

max_salary=max(salaries)
min_salary=min(salaries)

print(f"maximum salary is {max_salary}")

Enter the number of employees 2
Enter the salaries 232
Enter the salaries 234

maximum salary is 234.0

In [10]:
t=tuple()
t=t+('PYTHON',)
print(t)
print(len(t))
t1=(10,20,30)
t2=t1+t
print(len(t2))

('PYTHON',)
1
4

In [11]:
employees = {}
 
n = int(input("Enter the number of employees: "))
 
for i in range(n):
    name = input(f"Enter name of employee {i+1}: ")
    number = input(f"Enter employee number of {name}: ")
    employees[name] = number
    
print("Employee Name and Number:")
for name, number in employees.items():
    print(f"{name}: {number}")

Enter the number of employees:  2
Enter name of employee 1:  Anish
Enter employee number of Anish:  2
Enter name of employee 2:  Raju
Enter employee number of Raju:  1

Employee Name and Number:
Anish: 2
Raju: 1